* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}


.navigation {

    background-color: #e6edf3;
    text-align: center;
    height: 70px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 7;
}


.navigation .navtext {
    margin-top: 20px;
    border: 0px;
}

.navtext h5 {
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-bottom: 5px;
    margin-top: -5px;
}

.navtext p {
    font-size: 13px;
    font-weight: 500;
    margin-top: -3px;
}

.logo {
    height: 70px;
    mix-blend-mode: multiply;
}
.sidebar {
    background-color: #005384;
    height: 100vh;
    position: fixed;
    top: 70px;
    width: 6%;
    padding: 10px;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar .nav-link {
    
    color: white;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar .nav-link img {
    height: 30px;
    width: 30px;
}
.sidebar .nav-link:hover {
    background-color: #006ba8;
    color: #f9f9f9;
}

.content {
    margin-top: 100px;
  }
  