{% extends 'base.html' %}

{% load static %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'css/apply_leave.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5 leave">
        <h3>Leave Application Form</h3>
        <form action="{% url 'leaveapply' %}" method="post">
            {% csrf_token %}
            <div class="d-flex align-items-center justify-content-center">
                <div class="justify-content-left"></div>
            <label for="start_date">Start Date:
                <input type="date" name="start_date" id="start_date" class="startdate" required>
            </label>

            <label for="end_date" class="box2">End Date:
                <input type="date" name="end_date" id="end_date" class="enddate" required>
            </label></div>

            <label for="reason" class="text-area">Reason for leave:<br>
                <textarea name="reason" rows="3" cols="120" placeholder="Please provide detailed reason for the leave request" required></textarea>
            </label><br><br>

            <label for="block" class="box1">Select Block:
                <select name="block" id="block" required>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                </select>
            </label>

            <label for="room" class="box2">Select Room:
                <select name="room" id="room" required>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="203">203</option>
                    <option value="204">204</option>
                    <option value="301">301</option>
                    <option value="302">302</option>
                    <option value="303">303</option>
                    <option value="304">304</option>
                    <option value="401">401</option>
                    <option value="402">402</option>
                    <option value="403">403</option>
                    <option value="404">404</option>
                </select>
            </label><br><br>

            <label for="visiting_address" class="text-area">Visiting Address:<br>
                <textarea name="visiting_address" rows="3" cols="120" placeholder="Please mention detailed Visiting Address" required></textarea>
            </label><br><br>

            <label for="tnc" class="terms">
                <input type="checkbox" name="tnc" required>Terms and Condition
            </label><br><br>

            <button class="apply" type="submit">Submit Leave Application</button>
        </form>
    </div>
{% endblock %}