{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    {% block extra_css %} {% endblock %}

</head>
<body>
<div class="container-fluid p-0 m-0">
        <!-- Header -->
        <div class="navigation fixed-top">
          <img src="{% static 'images/ADIT logo.PNG' %}" alt="ADIT Logo" class="logo" />
          <div class="navtext">
            <h5>A D PATEL INSTITUTE OF TECHNOLOGY</h5>
            <p>Department of Computer Science & Design</p>
          </div>
    
          <img src="{% static 'images/CVMU logo.PNG' %}" alt="CVM University Logo" class="logo" />
        </div>
    
      <!-- Sidebar -->
      <div class="sidebar text-white position-fixed">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href=""><img src="{% static 'images/DashboardIcon.svg' %}" alt="Home Icon"></a>
          </li>
          <li class="nav-item2">
            <a class="nav-link" href=""><img src="{% static 'images/ApplyIcon.svg' %}" alt="Leave Icon"></a>
          </li>
         
        </ul>
     
      </div>
      <div class="content">
        {% block content %} {% endblock %}  
      </div>
    
</div>  
</body>
</html>