<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Pending</p>
    <p>Approved</p>
    <p>Rejected</p>

    <br>
    <div>
        <p><strong>Today's Leave</strong></p>
        <input type="search" placeholder="Search">
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Days</th>
                    <th>Reason</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>2025-03-28</td>
                    <td>2025-03-30</td>
                    <td>3</td>
                    <td>Family Event</td>
                    <td><button class="approve">Approve</button></td>
                    <td><button class="reject">Reject</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>