{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student.css' %}">
{% endblock %}

{% block content %}
<div class="container p-0">
    <div class="student_info">
        <div class="top_info">
          <div class="row">
            <div class="col-md-6 text-left text-md-left text-center">
              <p><b>Name:</b> {{student.name}} </p>
              <p><b>Enrollment No:</b>{{student.enrollment_no}}</p>
            </div>
            <div class="col-md-6 text-md-right text-center">
              <p><b>SPID:</b>{{student.sp_id}}</p>
              <p><b>Academic Year:</b> {{student.Batch_Year}}</p>
            </div>
          </div>
          <!-- Photo -->
          <img src="{% static 'images/student_photo.jpg' %}" alt="Student Photo" class="student-photo" />
        </div>
        <!-- Secondary Information -->
        <div class="bottom_info">
          <div class="row">
            <div class="col-md-6 text-left text-md-left text-center">
              <p><b>Semester:</b>6</p>
              <p><b>Gender:</b>Female</p>
            </div>
            <div class="col-md-6 text-md-right text-center">
              <p><b>Program Name:</b> </p>
              <p>{{student.department}}</p>
            </div>
          <div class="col-md-4 text-left text-md-left text-center ">
            <p><b>Permanent Address:</b>{{info.Address}},{{info.City}},{{info.Pincode}}</p>
          </div>
          <div class="col-md-4 text-md-center text-center">
            <p><b>Hostel Name:</b> Sharda Girls Hostel</p>
            
          </div>
          <div class="col-md-4 text-md-right text-center">
            <p><b>Room No:</b>{{info.Hostel_Block}}-{{info.Room_No}}</p>
          </div>
        </div>
        </div>
      </div>
   
    
    <div class="card mt-4">
      <div class="card-body" style="border-left: 7px solid #e6edf3;">
          <h5>Reason: {{leave.reason}}</h5>
          <p>Sunmitted on: 12th Jan 2024</p>
          <br>
          <h6>Time Period</h6>
          <p>From: &nbsp;<b>{{leave.start_date}} </b> | To:&nbsp; <b>{{leave.end_date}}</b></p>
          <br>
          
          <!-- <div class="status-rejected mt-3">
            <i class="fa-solid fa-xmark" style="font-size: 20px; margin-right: 20px;"></i> Rejected by Hostel Incharge
          </div> -->
    
        <p class="mt-4 text-dark">Approval Timeline</p>

        <div class="d-flex">
            <div class="timeline-step">
                <div class="circle completed">1</div> Student ➝ &nbsp;
            </div>
            
            {% if leave.status_parent == "pending" %}
           <div class="timeline-step">
                <div class="circle pending">2</div> Parent ➝ &nbsp;
            </div>
            {% elif leave.status_parent == "approved" %}
            <div class="timeline-step">
              <div class="circle completed">2</div> Parent ➝ &nbsp;
          </div>
          
          {% elif leave.status_parent == "rejected" %}
            <div class="timeline-step">
              <div class="circle rejected">2</div> Parent ➝ &nbsp;
          </div>
            {% endif %}
            {% if leave.status_fa == "approved" %}
            <div class="timeline-step">
                <div class="circle completed">3</div> Advisor ➝ &nbsp;
            </div>
            {% elif leave.status_fa == "pending" %}
            <div class="timeline-step">
              <div class="circle pending">3</div> Advisor ➝ &nbsp;
          </div>
          {% elif leave.status_fa == "rejected" %}
          <div class="timeline-step">
            <div class="circle rejected">3</div> Advisor ➝ &nbsp;
        </div>
            {% endif %}
            {% if leave.status_incharge == "approved" %}
            <div class="timeline-step">
                <div class="circle completed">4</div> Hostel  &nbsp;
            </div>
            {% elif leave.status_incharge == "pending" %}
            <div class="timeline-step">
              <div class="circle pending">4</div> Hostel  &nbsp;
          </div>
          {% elif leave.status_incharge == "rejected" %}
          <div class="timeline-step">
            <div class="circle rejected">4</div> Hostel  &nbsp;
        </div>
            {% endif %}
            {% comment %} <div class="timeline-step">
                <div class="circle rejected">4</div> Hostel &nbsp;
            </div> {% endcomment %}
        </div>
    
      </div>
  </div>
<br>
  
  {% if leave_history %}
    <h4>Leave History</h4>
    {% for leave in leave_history %}
    <div class="card mt-2">
      <div class="card-body" style="border-left: 7px solid #e6edf3;">
          <h5>Reason: {{leave.reason}}</h5>
          <p>Sunmitted on: 12th Jan 2024</p>
          <br>
          <h6>Time Period</h6>
          <p>From: &nbsp;<b>{{leave.start_date}} </b> | To:&nbsp; <b>{{leave.end_date}}</b></p>
          <br>
          {% if leave.status_incharge == "approved" %}
          <div class="status-approved mt-3">
            <i class="fa-solid fa-check" style="font-size: 20px; margin-right: 20px;"></i> Approved by Hostel Incharge
          </div>
          <a href="{% url 'download_leave_letter' leave.id %}" class="download-button">Download Letter</a>
          {% elif leave.status_incharge == "pending" %}
          <div class="status-pending mt-3">
            <i class="fa-solid fa-spinner" style="font-size: 20px; margin-right: 20px;"></i> Pending by Hostel Incharge
          </div>
          {% elif leave.status_incharge == "rejected" %}
          <div class="status-rejected mt-3">
            <i class="fa-solid fa-xmark" style="font-size: 20px; margin-right: 20px;"></i> Rejected by Hostel Incharge
          </div>
          {% endif %}
        </div>
    </div>
    {% endfor %}
  {% endif %}
  <!-- <h5 class="mt-4">Leave History</h5>
  <div class="row mb-3">
      <div class="col-md-6">
          <div class="card p-3 mt-2 mb-5" style="background-color: #e6edf3;">
              <h6>Leave for visiting home</h6>
              <p>Submitted on: 12th Jan 2024</p>
              <br>
              <p class="m-0">From: <b>12th Jan 2024</b></p>
              <p>To: <b>20th Jan 2024</b></p>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card p-3 mt-2 text-white" style="background-color: #005384;">
              <h6>Leave for visiting home</h6>
              <p>Submitted on: 12th Jan 2024</p>
              <br>
              <p class="m-0">From:<b> 12th Jan 2024</b></p>
              <p>To: <b>20th Jan 2024</b></p>
          </div>
      </div>
  </div> -->
  
</div>
{% endblock %}